.navbar{
  display: flex;
  justify-content: space-around;
 padding: 14px;
 box-shadow: 0 1px 3px -2px black;
}
.navbar-logo{
 
  display: flex;
align-items: center;
  gap: 5px;
}
.navbar-logo img{
  width: 120px;
}
.navbar-logo p{
  color: #171717;
  font-size: 32px;
  font-weight: 500;

}
.navbar-logo p:hover{

  background: #9e9898;
border-radius: 15px;
}

.nav-menu{
  display: flex;
  align-items: center;
 list-style: none;
 gap: 50px;
 color: #626262;
 font-size: 20px;
 font-weight: 500;
 
}
.nav-menu li{
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  
}
.nav-menu  hr{
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #e67b08;
}

.login-cart{
  display: flex;
  gap: 45px;
  align-items: center;
}
.login-cart button{
  outline: none;
  width: 150px;
  height: 55px;
  border: 1px solid #7a7a7a;
  border-radius: 72px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #515151;
  background: white;
}
.login-cart button:hover{
  background: #f3f3f3;
}
.cart-count{
  display: flex;
  font-size: 14px;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  color: white;
  background: red;
  border-radius: 50%;
}