.popular {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
  gap: 10px;
  height: fit-content;
}
.popular h1 {
  margin-top: 12px;
  display: flex;
  color: #171717;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
}
.popular hr {
  width: 40%;
  height: 2px;
  margin: 6px 0px;
  border-radius: 10px;
  background: #252525;
}

.popular-item {
  display: flex;
  gap: 30px;
  justify-content: center;
}
@media (max-width: 1280px) {
  .popular {
    height: 70vh;
  }
  .popular h1 {
    font-size: 40px;
  }
  .popular hr {
    width: 160px;
    height: 4px;
  }
  .popular-item {
    gap: 20px;
    margin-top: 30px;
  }
}
@media (max-width: 1024px) {
  .popular {
    height: 60vh;
  }
  .popular h1 {
    font-size: 30px;
  }
  .popular hr {
    width: 120px;
    height: 3px;
  }
  .popular-item {
    gap: 15px;
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  .popular {
    height: 50vh;
    gap: 6px;
  }
  .popular h1 {
    font-size: 20px;
  }
  .popular hr {
    width: 100px;
  }
  .popular-item {
    gap: 5px;
  }
}
@media (max-width: 500px) {
  .popular {
    height: 90vh;
  }
  .popular-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
